.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  background-color: transparent !important; /* Remove o fundo */
  color: rgba(255, 255, 255, 0.8) !important; /* Cor mais clara para o texto no hover */
  transform: scale(1.05); /* Leve aumento no tamanho */
  transition: all 0.2s ease-in-out; /* Transição suave */
}

/* Estilo para o link "Login" ou botão "Sair" (btn-outline-light) */
.navbar-nav .btn-outline-light.nav-link {
  border-color: #fff; /* Mantém a borda branca */
  color: #fff; /* Mantém a cor do texto branca */
  transition: all 0.2s ease-in-out; /* Transição suave */
}

.navbar-nav .btn-outline-light.nav-link:hover,
.navbar-nav .btn-outline-light.nav-link:focus {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo branco bem sutil (10% de opacidade) */
  color: #fff !important; /* Mantém o texto branco (ou ajuste para uma cor sutil) */
  transform: scale(1.05); /* Leve aumento no tamanho */
  border-color: #fff !important; /* Mantém a borda branca */
}

/* Ajuste para o routerLinkActive, se quiser que ele tenha um estilo diferente quando ativo */
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #fff; /* Cor do texto quando ativo */
  border-bottom: 2px solid #fff; /* Uma linha inferior, por exemplo */
  padding-bottom: 3px; /* Para não cortar a linha */
}

/* Padding para os itens do nav-link para eles não ficarem colados */
.navbar-nav .nav-item {
  padding: 0 10px; /* Padding horizontal para separar os itens */
}