.area-paciente-main {
  min-height: calc(100vh - 120px); 
  background-color: #f8f9fa; 
}

.area-paciente-main.d-flex {
  align-items: center;
  justify-content: center;
}

.area-paciente-main .card {
  border-radius: 1rem;
  border: none;
}

.area-paciente-main h1, .area-paciente-main h2 {
  font-weight: 700;
}

.area-paciente-main strong {
  color: #343a40; 
}

.area-paciente-main .btn-lg {
  padding: 15px 30px;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.area-paciente-main .btn-outline-danger:hover {
  background-color: #dc3545; 
  color: #fff !important;
}