.mitos-container {
  min-height: calc(100vh - 120px);
}

.mitos-header-img {
    max-width: 400px; 
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

@media (max-width: 768px) {
    .mitos-header-img {
        max-width: 100%;
        height: 15rem; 
        object-fit: cover; 
    }
}